<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.legends.universe.mapper.ComicsMapper">
    <select id="getAllComics" resultType="com.legends.universe.bean.Comics">
        SELECT * FROM comics_data ORDER BY comicsId DESC
    </select>
    <select id="getComicsById" resultType="com.legends.universe.bean.Comics">
        SELECT * FROM comics_data WHERE comicsId = #{comicsId}
    </select>
    <select id="getAllScrollData" resultType="com.legends.universe.bean.ComicsScrollData">
        SELECT * FROM comics_scroll ORDER BY RAND() LIMIT 4;
    </select>
</mapper>